//
// global-settings
//
// This settings file has the main variables exposed to applications.
//
 
// Breakpoints
// -------------------------
$breakLargeMin: 1441px;
$breakMediumMin: 768px;
$breakMediumMax: 1279px;
$breakMediumPortraitMin: $breakMediumMin;
$breakMediumPortraitMax: $breakMediumMax;
$breakMediumLandscapeMin: $breakMediumMin;
$breakMediumLandscapeMax: $breakMediumMax;
$breakMedSmallMax: 885px;
$breakSmallMax: 767px;
$breakSmallPortraitMax: $breakSmallMax;
$breakSmallLandscapeMax: $breakSmallMax;
$breakVerySmallMax: 480px;
$breakVerySmallPortraitMax: $breakVerySmallMax;
$breakVerySmallLandscapeMax: $breakVerySmallMax;
$breakVerySmallSuperSmallMax: 435px;
$breakSuperSmallMax: 380px;
$breakSuperSmallPortraitMax: $breakSuperSmallMax;
$breakSuperSmallLandscapeMax: $breakSuperSmallMax;
$breakSuperSmallExtraSmallMax: 320px;
$breakExtraSmallMax: 240px;
$breakExtraSmallPortraitMax: $breakExtraSmallMax;
$breakExtraSmallLandscapeMax: $breakExtraSmallMax;

// urls
$urlbase: "";
$urlfbfwoff: "#{$urlbase}/fonts/facebolf-webfont.woff";
$urlfbfeot: "#{$urlbase}/fonts/facebolf-webfont.eot";
$urlfbfeotie: $urlfbfeot + "?#iefix";
$urlfbfttf: "#{$urlbase}/fonts/facebolf-webfont.ttf";
$urlfbfsvg: "#{$urlbase}/fonts/facebolf-webfont.svg#facebook_letter_facesregular";

// panel bottom margin
$panel-bottom-margin: 22px;

// colors
$site-white: #fdfdfd;
$site-black: #050001; // from the logo font color

// analogic to primary yellow faaa00
$primary-1: #F9AA00;
$primary-2: #BB8E2F;
$primary-3: #A26F00;
$primary-4: #FCC03F;
$primary-5: #FCD071;

$secondary-a-1: #F9D200;
$secondary-a-2: #BBA52F;
$secondary-a-3: #A28900;
$secondary-a-4: #FCDF3F;
$secondary-a-5: #FCE671;
        
$secondary-b-1: #F97700;
$secondary-b-2: #BB722F;
$secondary-b-3: #A24E00;
$secondary-b-4: #FC9A3F;
$secondary-b-5: #FCB471;

// yellow/green
$secondary-c-1: #F7FE00;
$secondary-c-2: #BBBE30; //lt
$secondary-c-3: #A1A500; //dk
$secondary-c-4: #F9FE40;
$secondary-c-5: #FBFE72;

/*
Web palate analogic
Primary:
FF9900  CC9933  996600  FFCC33  FFCC66
Secondary Color A:
FFCC00  CC9933  999900  FFCC33  FFFF66
Secondary Color B:
FF6600  CC6633  993300  FF9933  FF9966
*/
/*
OMS
OMS 4027
(F1A02D)  OMS 4584
(BA932F)  OMS 4137
(B95E0E)  OMS 4494
(FAC23D)  OMS 4018
(FEC478)
Secondary Color A:
OMS 4481
(F6D93E)  OMS 4583
(C1A52E)  OMS 4123
(BC8023)  OMS 4005
(FCEE66)
Secondary Color B:
OMS 4522
(FF6000)  OMS 4545
(C07235)  OMS 4144
(B55100)  OMS 4026
(F0A142)  OMS 4018
(FEC478)
*/

//Kuler Mono:
$kuler-mono-1: #FBCC68;
$kuler-mono-2: #7A580E;
$kuler-mono-3: #FAB41D;
$kuler-mono-4: #7A6433;
$kuler-mono-5: #C78F17;

// Kuler Analog:
$kuler-analog-1: #E3850F;
$kuler-analog-2: #FDE211;
$kuler-analog-3: #FAB41D;
$kuler-analog-4: #E38A0F;
$kuler-analog-5: #FD7811;

// Kuler Compound (green/yel):
$kuler-comp-1: #948C4C;
$kuler-comp-2: #C7B003;

// Kuler Shades:
$kuler-shade-1: #7A580E;
$kuler-shade-2: #BA8616;
$kuler-shade-3: #FAB41D;
$kuler-shade-4: #3B2A07;
$kuler-shade-5: #E0A21A;

// Snapshot (green to white w/yel):
$snap-1: #262401; // super dk green
$snap-2: #3e4001; // dark green
$snap-3: #70731f; // green
$snap-4: #b8a03e; // yel
$snap-5: #e0e4e5; // off-white
