//
// Badges
// ---------------------------------------------------------------------
.badges-outer {
  @extend %grid-half;
}
$badges-number: 3;
$badge-margin: 20px;
$badge-width: 80px;
$total-badge-width: (($badge-width+$badge-margin) * $badges-number) + $badge-margin;
.badges-inner {
  margin: 10px auto $panel-bottom-margin auto;
  //min-height: 120px;  
  @include clearfix();
  width: $total-badge-width;
  position: relative;
  @extend %level-logo;
}
.badge {
  margin-left: $badge-margin;
  float: right;
}
.home-sprite-certification {
  margin-right: $badge-margin;
}

//
// Main art image
// ---------------------------------------------------------------------
$img-height: 200px;
$img-width: 308px;
$img-margin-top: ($img-height / 2) * -1 + 20px;
.img-ctl-home {
  // ? mh for this space is determined by the image and badge height
  
  position: relative;
  margin: $img-margin-top auto 0 auto;
  width: $img-width;
  min-height: $img-height;

  @extend %level-art;
  
  @include breakpoint(medium-small) {
    margin-top: $img-margin-top + $logo-margin-top-ms-reduction + 20px;
  }
  @include breakpoint(small) {    
    margin: 0 auto $panel-bottom-margin auto;
  }
  @include breakpoint(extra-small) {
    width: $breakExtraSmallMax;
    margin-bottom: 0;
  }
}
.img-ctl-js {
  height: $img-height;
  width: $img-width;
}

//
// Buttons
// ---------------------------------------------------------------------
.optional-text {
  @include breakpoint(extra-small) {
    display: none;
  }
}

$home-button-height: 60px;
%home-button {
  @extend %radius-panel;
  @include box-shadow(0 1px 0 $shinyEdge inset);
  min-height: $home-button-height;
  line-height: $home-button-height;
  border: {
    style: solid;
    width: 1px;
  }
  width: 85%;
  margin: 0 auto $panel-bottom-margin auto;
  position: relative;
  @extend %level-page;
}

.home-link {
  text-align: center;
  display: block;
  height: $home-button-height;
  width: 100%;
  font: {
    weight: bold;
    size: ms(2);    
  }
  color: $primary-5;
  @include text-shadow(
     2px 2px 2px rgba(20, 20, 20, 0.8),
    -1px -1px 0 #202020,
     1px -1px 0 #202020,
    -1px 1px 0 #202020,
     1px 1px 0 #202020
    );
  @include breakpoint(super-small) {
    font-size: ms(1);
  }
}
.carpet-button {
  @extend %home-button;
  @include background(image-url('/images/carpetw2.jpg') repeat-x);
  border: {
    //color: $secondary-b-2;
    color: #d8d8d8;
  }
}
.floor-button {
  @extend %home-button;
  @include background(image-url('/images/floor2.jpg') repeat-x);
  border: {
    color: $primary-3;
  }
}
.fabric-button {
  @extend %home-button;
  @include background(image-url('/images/fabricw2.jpg') repeat-x);
  border: {
    color: #d8d8d8;
  }
}
.tile-button {
  @extend %home-button;
  @include background(image-url('/images/tile.jpg') repeat-x);
  border: {
    color: #d8d8d8;
  }
}
.water-button {
  @extend %home-button;
  @include background(image-url('/images/waterw.jpg') repeat-x);
  border: {
    color: #5ba1bb;
  }  
}
.generic-button {
  @extend %home-button;
  @include background($primary-2);
  border: {
    color: $primary-3;
  }  
}