// nothing yet
.img-ctl-service {
  // mh is controlled by image alone
  min-height: 120px; 

  @include breakpoint(small) {
    min-height: 100px;
  }  
}

.service-inner {
  @include background(darken($primary-2, 2%));
  width: 92%;
  border: solid 1px $primary-3;  
  margin: 0 0 $panel-bottom-margin 0;
  padding: 20px;
  text-align: center;
  position: relative;
  @extend %level-page;
}

.service-inner img {
  border: solid 4px $primary-4;
}

.reveal-modal {
  @include background(darken($primary-2, 10%));
}

.reveal-modal img {
  border: solid 4px $primary-4;
}