@import "global-settings";
@import "global-mixins";

// Foundation overrides
@import "foundation-settings";

// Foundation styles and dependencies
@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";
@import "foundation/mixins/clearfix";
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size";
@import "foundation/mixins/respond-to";
@import "foundation/mixins/semantic-grid";
@import "modular-scale";
@import "foundation/common/globals";
@import "foundation/components/grid";
@import "foundation/common/typography";
@import "foundation/common/forms";
@import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
@import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
@import "foundation/components/modules/navbar";
@import "foundation/components/modules/orbit";
@import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";
// @import "foundation/components/modules/clearing";
// @import "foundation/components/modules/joyride";
@import "foundation/components/modules/mqueries";

// application styles
@import "global";
@import "header";
@import "footer";
@import "home";
@import "service";
@import "contact";
